<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>
<body>

  
    <h1>Welcome to the Car Inventory App</h1>
    <p>Browse all cars in our inventory!</p>
     <a href="/cars">View All Cars</a> |
  <a href="/cars/new">Add New Car</a>
</body>
</html>